<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title id="title"><super/> - JB Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/highlight.css">
    <super/>
  </head>
  <body>
    <nav id="menu" class="centered">
      <a href="/">Home</a> •
      <a href="/blog/">Blog</a> •
      <a href="/">About</a> •
      <a href="/">Links</a>
    </nav>
    <div id="content">
      <super/>
    </div>
  </body>
</html>