<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title"><super/>Your Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/highlight.css">
    <super/>
  </head>
  <body>
    <nav id="menu" class="centered">
      <a href="/">Home</a> •
      <a href="/blog/">Blog</a> •
      <a href="/">About</a> •
      <a href="/">Contact</a>
    </nav>
    <div id="content">
      <super/>Base content
    </div>
  </body>
</html>