<extend template="base.html" />

<title id="title" var="$page.title"></title>

<head id="head"></head>

<div id="content">
	<!-- <h1 class="centered title">Home Page</h1> -->

	<div class="post-list">
		<li>
			<h2>
				<time class="meta" datetime="2024-07-05">Jul 5, 2024</time>
				<a href="/posts/2024-07-05-CMakePreset-Examples/">CMakePreset-Examples</a>
			</h2>
		</li>
		<li>
			<h2>
				<time class="meta" datetime="2024-07-10">Jul 10, 2024</time>
				<a href="/posts/2024-07-10-EnTT-Sorting/">EnTT-Sorting</a>
			</h2>
		</li>
	</div>
</div>